body {
    background-color: #3ff;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 0 3px 0 5px
}
th{
    background-color: #030;
    color: white;
    padding: 0 3px 0 5px;
    border: 1px white solid;

}
td{
    background-color: #090;
    color: white;
    padding: 0 3px 0 5px;
    border: 1px white solid;
}
table{
    border-collapse: collapse;
    /*border-color: white;*/
}