body{
    background-color: lightgray;
}

.col-sm, .col-md-8 {
    background-color: goldenrod;
    margin: 5px;

}

col-sm-4{
    background-color: goldenrod;
    margin: 5px;
}

.col-sm-p{
    font-weight: bold;
    text-align: center;
}
