@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.title {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.betweenHero {
    display: none;
}

.titlediv {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerIMG {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.heroL {
    margin: 0;
    width: 72%;
    height: auto;
    transform: translateX(-5%);
}

.heroR {
    margin: 0;
    width: 72%;
    height: auto;
    transform: translateX(5%);
}

.headertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.headertext h1 {
    margin-top: 30px;
    font-size: 40px;
    width: 280px;
    height: 88px;
    font-weight: 900;
    text-align: center;
    color: #28283D;
}

.headertext p {
    color: #87879D;
    font-weight: 500;
    width: 327px;
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
}

.headerBTN .btn1, .headerBTN .btn1 span, .headerBTN .btn2, .btn3 {
    font-weight: 900;
}

.headerBTN .btn1 {
    width: 193px;
    height: 58px;
    border-radius: 360px;
    background-color: #4D96A9;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.headerBTN .btn1 span {
    color: #8FE3F9;
}

.headerBTN a {
    text-decoration: none;
}

.headerBTN .btn2 {
    width: 139px;
    height: 58px;
    border-radius: 360px;
    background-color: #855FB1;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerBTN {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dividerLine {
    height: 84px;
    width: 1px;
    background-color: hsla(240, 10%, 57%, 0.25);
}

.dividerCircle {
    width: 56px;
    height: 56px;
    border: 1px solid hsla(240, 10%, 57%, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87879D;
    font-weight: 900;
}

.contentIMG {
    display: flex;
    flex-direction: column;
}

.contentIMG div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.contentIMG img {
    width: 40%;
    height: auto;
    border-radius: 8%;
}

.contentTXT {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentTXT * {
    text-align: center;
    width: 327px;
}

.contentTXT p:first-child {
    color: #4D96A9;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 4px;
}

.contentTXT h1 {
    font-weight: 900;
    font-size: 32px;
    margin: 20px 0;
}

.contentTXT p:last-child {
    color: #87879D;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    width: 100%;
}

.footer .divider {
    margin-bottom: 0;
    transform: translateY(20%);
}

.footer .dividerCircle {
    background-color: #ffffff;
}

.footerImage {
    height: 428px;
    width: 100%;
    background-image: url("desktop/image-footer.jpg");
    background-position: center;
    background-size: cover;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 428px;
    width: 100%;
    background-color: hsla(192, 37%, 48%, .85);
}

.footerContent h1 {
    margin-top: 15%;
    color: white;
    font-weight: 900;
    width: 327px;
    text-align: center;
}

.footerContent p {
    margin-top: 5%;
    color: white;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 327px;
}

.btn3 {
    width: 193px;
    height: 58px;
    border-radius: 360px;
    background-color: #855FB1;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

.btn3 span {
    color: #D9B8FF;
}

.btn1, .btn2, .btn3 {
    transition: all 0.2s;
}

.headerBTN .btn1:hover {
    background-color: #71C0D4;
}

.headerBTN .btn2:hover, .btn3:hover {
    background-color: #B18BDD;
}

@media screen and (min-width: 1440px) {
    .belowHero {
        display: none;
    }

    .betweenHero {
        display: block;
    }

    .heroL {
        width: 30%;
        height: auto;
    }

    .heroR {
        width: 30%;
        height: auto;
    }

    .headerIMG {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .headertext h1 {
        font-size: 64px;
        width: 445px;
        height: 128px;
    }

    .headertext p {
        margin-top: 80px;
        width: 540px;
        height: 52px;
        font-size: 18px;
    }

    .headerBTN {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contentIMG {
        width: 1400px;
    }

    .contentIMG img {
        width: 50%;
        height: auto;
    }

    .contentImgContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contentTXT {
        margin-top: 50px;
    }

    .contentTXT p:first-child {
        width: 291px;
        height: 26px;
        font-size: 16px;
    }

    .contentTXT h1 {
        width: 445px;
        height: 88px;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .contentTXT p:last-child {
        width: 530px;
        height: 78px;
        font-size: 18px;
    }


    .footerContent {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .footerContent h1, .footerContent p, .footerContent div {
        margin-top: 0 !important;
    }

    .footerContent h1 {
        font-size: 40px;
        width: 350px;
        height: 88px;
        text-align: left;
    }

    .footerContent p {
        width: 350px !important;
        height: 78px;
        font-size: 18px;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .headertext p {
        width: 457px;
    }

    .headerBTN {
        flex-direction: row;
        justify-content: center;
    }

    .headerBTN .btn1, .headerBTN .btn2 {
        margin: 0;
    }

    .headerBTN .btn1 {
        margin-right: 10px;
    }

    .contentIMG {
        flex-direction: row;
    }

    .contentIMG img {
        width: 45%;
        margin: 0;
    }

    .contentIMG div:first-child img:last-child {
        margin-left: 2%;
    }

    .contentIMG div:last-child img:first-child {
        margin-right: 2%;
    }

    .contentTXT h1 {
        width: 430px;
    }

    .contentTXT p:last-child {
        width: 573px;
    }

    .footerContent h1 {
        margin-top: 10%;
    }

    .footerContent p {
        width: 573px;
    }

    .btn3 {
        width: 193px;
        height: 58px;
    }

}